<header>
  <div class="col-lg-6 col-md-6 col-sm-6" id="contentToConvertIntoPdf" style="width: 100%; height: 400px; display: block;">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions"
    ></highcharts-chart>
  </div>
</header>


<footer>
  <a role="button" class="btn btn-primary primary-btn pointer-cls" (click)="downloadAsPDF()">
    <i class="fa fa-download"></i>DOWNLOAD PDF
  </a>
</footer>
<!-- style="width: 100%; height: 400px; display: block;" -->
